
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 86%;
    z-index: 50;
    position: sticky;
    background-color: #7c9ed9;
    top: 0;
  transition: background-color 0.3s ease;
    
}

.images {
    border-radius: 50px;
}
.images-1 {
   border-radius: 40px;
   display: flex;
   width: 50%;
}

.images-2 {
    width: 50%;
    border-radius: 40px;
}

.logo {
    list-style-type: none;  
    font-size: 30px;
    color: #F2EDD7;
    text-transform: capitalizes;
    cursor: pointer;
}

nav li {
    color: black;
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a,button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a,button:hover {
    color: black;
}

nav li a:hover {
    color: #125, 209, 129;
    transition: all 0.4s ease 0s;
}

.first-part {
    height: 90vh;
    width: 100%;
    display: flex;
    background-color: #8AAAE5;
   
}
.left-first-part {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    
}
.right-first-part {
    width: 50%;
    height: 90%;
  
    display: flex;
    justify-content: center;
}
.hello {
   width: 100%;
   height: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.hi {
    height: 5vh;
    width: 100%;
    color: #F2EDD7;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-left: 25px;
}
.nameDeveloper {
    height: 50%;
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #FEFEFE;
    padding: 25px 35px;
    color: #FEFEFE;
}

@keyframes fade-inout{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.name {
    height: 30%;
    animation: fade-inout 5s infinite alternate;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 50%;
    color: #FEFEFE;
}

.loremIpsum {
    text-align: center;
    font-size: 16px;
    height: 15vh;
    font-weight: lighter;
    display: flex;
    width: 90%v;
    color: #FEFEFE;
}

.profesion {
    width: 100%;
    font-size: 30px;
    display: flex;
    margin-left: 10px;
    color: white;
}

.buttons {
   width: 100%;
   display: flex;
   justify-content: center;
}
.button-hire {
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}

.work {
color: black;
border-radius: 10px;
font-size: 16px;
display: flex;
justify-content: center;
align-items: center;
width: 50%;
height: 10vh;

}

.work:hover{/* New background color for hover */
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
  transition: all .4s ease;
}

.about {
    height: 100%;
    width: 100%;
    display: flex;
}

.secondSection {
    height: 50%;
    width: 100%;
    display: flex;
    cursor: pointer;
    background-color: #8AAAE5;
}

.javascriptButtons{
    color: #F2EDD7;
    
}

.javascriptButtons:hover{
    color: black;
    cursor: pointer;
}

.resumeSection:hover{
    color: #32746D;
    cursor: pointer;
}

.servicesSection:hover {
    color: #35A7FF;
    cursor: pointer;
}

.leftSecondSection {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
   
}

/* .rightSecondSection {
    width: 100%;
    height: 65vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: #1a1a1a;
    
} */


.div-insideJavascript { 
    width: 100%;
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: center;
    color: #FEFEFE;
    
}

.showMoreButton {
    color: black;
    border-radius: 30px;
}

.showMoreButton:hover {
    background-color: #8AAAE5;
    border-radius: 25px;
    transition: all .5s ease;

}

.divForTAndS {
    display: flex;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFEFE;
    flex-direction: column;
}

.div2-insideJavascript{
    width: 95%;
    text-align: center;
    font-size: 16px;
}



/* .rightSecondSection:hover {
} */

/* html {
    scroll-behavior: smooth;
    scroll-padding: 0rem;
} */

/* .title {
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}

.information {
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.lorem {
    text-align: center;
} */

ul {
    line-height: 2;
}

.thirdSection {
    height: 150vh;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    background-color: #8AAAE5;
}

.firstSectionThirdSection {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}


.left {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    border-radius: 20px;
}

.left:hover {
    background-color: white;
    color: black;
}


.right {
    color: white;
    background-color: #343a40;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.secondSectionThirdSection {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around; 
}

.thirdSectionThirdSection {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around; 
}



.thirdTitle { 
    height: 5%;
   width: 100%;
   font-size: 50px;
    display: flex;
    justify-content: center;
    color: #FEFEFE;
} 

.description {
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 3vh;
    color: #FEFEFE;

}

.date {
    height: 15%;
    width: 50vw;
    font-size: 26px;
    display: flex;
    justify-content: center;
}


.university {
    height: 10%;
    font-size: 12px;
    display: flex;
}

.words {
    height: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.fourthSection {
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    background-color: #8AAAE5;
    
}

.fourthTitle {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FEFEFE;
}

.word {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FEFEFE;
}
.service1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.webDesign {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.webDesign:hover {
    background-color: white;
}

.photography:hover {
    background-color: white;
}

.webDeveloper:hover {
    background-color: white;
}

.appDeveloping:hover {
    background-color: white;
}

.branding:hover {
    background-color: white;
}

.productStrategy:hover {
    background-color: white;
}

.photography {
    width: 30%;
    height: 40%;
    background-color: #8AAAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.webDeveloper {
    width: 30%;
    height: 40%;
    background-color: #8AAAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.web {
    width: 30%;
    height: 40%;
    background-color: #8AAAE5;
}

.appDeveloping {
    width: 30%;
    height: 40%;
    background-color: #8AAAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.branding {
    width: 30%;
    height: 40%;
    background-color: #8AAAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.productStrategy {
    width: 30%;
    height: 40%;
    background-color: #8AAAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.skill {
    height: 130vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8AAAE5;
}

.tiitle {
    width: 100%;
}

.fifthTitle {
    width: 100%;
    height: 10vh;
    color: white;
    font-size: 50px;
}

.aword {
    width: 100%;
}

.awords {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}
.leftPoint{
    display: flex;
    justify-content: flex-start;
}

.skills {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoshop {
    background: #e91e63;
    animation: photoshop 1s linear forwards;
}

.html5 {
    background: #cddc39;
    animation: html5 1s linear forwards;
}

.wordPress {
    background: #00bcd4;
    animation: wordPress 1s linear forwards;
}

.jQuery {
    background: #ffeb3b;
    animation: jQuery 1s linear forwards;
}

.css3 {
    background: #9c27b0;
    animation: css3 1s linear forwards;
}

.seo {
    background: #823329;
    animation: seo 1s linear forwards;
}

.photoshop span {
   border: 1px solid #e91e63;
}

.html5 span {
    border: 1px solid #cddc39;
}

.wordPress span {
    border: 1px solid #00bcd4;
}

.jQuery span {
    border: 1px solid #ffeb3b;
}

.css3 span {
    border: 1px solid #9c27b0;
}

.seo {
    border: 1px solid #99B2DD;
}

@keyframes photoshop {
    100% {
        width: 90%;
    }
}

@keyframes html5 {
    100% {
        width: 95%;
    }
}

@keyframes wordPress {
    100% {
        width: 70%;
    }
}

@keyframes jQuery {
    100% {
        width: 85%;
    }
}

@keyframes css3 {
    100% {
        width: 90%;
    }
}

@keyframes seo {
    100% {
        width: 80%;
    }
}

.projects {
    height: 170vh;
    width: 100%;
    padding-left: 30px;
    flex-wrap: wrap;
    display: flex;
    background-color: #8AAAE5;
}

.sixthSection {
    width: 100%;
    height: 100%;
}

.sixthTitle {
    width: 100%;
    height: 5%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.lordi {
    font-size: 16px;
    width: 100%;
    height: 5%;
    text-align: center;
}

.image {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.text {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
}

.wrapper .container {
    padding-top: 10px;
}

.wrapper .container .hero-section {
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.wrapper .container .hero-section .gallery {
    width: 100%;
    position: relative;
}

.wrapper .container .hero-section .gallery .image-section {
    width: 100%;
}

.wrapper .container .hero-section .gallery .image-section img{
    width: 100%;
    height: auto;         
    border: 1px solid #eee;
    padding: 5px;
    display: block;
    text-align: center;
}



 

@media screen and (max-width: 992px) {
    .wrapper .container .hero-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992) {
    .wrapper .container .hero-section {
        grid-template-columns: 1fr;
    }
}

.gallery:hover .image-section {
    background: #125;
}

.blogs {
    height: 125vh;
    width: 100%;
    background-color: #8AAAE5;
}

.seventhTitle {
    width: 100%;
    height: 15vh;
    font-size: 50px;
    color: white;
    text-align: center;
}

.seventhText {
    width: 100%;
    height: 10vh;
    font-size: 16px;
    color: white;
    text-align: center;
}

.pictures {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}



 img {

}

img:hover {
    background: #125;
}

.etc {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.award {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: #3B383A;
}

.one {
    width: 100%;
    height: 10vh;
    font-weight: bold;
    color: yellow;
    text-align: center;
    font-size: 30px;
    
    
}

.project {
    width: 21%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: #3B383A;
}

.thousand {
    width: 100%;
    height: 10vh;
    font-weight: bold;
    color: yellow;
    text-align: center;
    font-size: 30px;
    
    
}

.satisfied {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: #3B383A;
}

.two {
    width: 100%;
    height: 10vh;
    font-weight: bold;
    color: yellow;
    text-align: center;
    font-size: 30px;
    
    
}

.coffee {
    width: 21%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: #3B383A;
}

.hundred {
    width: 100%;
    height: 10vh;
    font-weight: bold;
    color: yellow;
    text-align: center;
    font-size: 30px;
       
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .first-part {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }

    .left-first-part {
        width: 100%;
        height: 50%;
        display: flex;
    }

    .hello {
        height: 35vh;
    }


    .nameDeveloper {
        height: 1vh;
    }

    .right-first-part {
        width: 100%;
        height: 35vh;
    }

    .name {
        height: 4vh;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .secondSection {
        width: 95%;
    }

    .thirdTitle {
        font-size: 25px;
        display: flex;
    }

    .description {
        width: 95vw;
        height: 10vh;
        display: flex;
        text-align: center;
    }

    .secondSectionThirdSection {
        display: none;
    }

    .thirdSectionThirdSection {
        display: none;
    }

    .thirdSection {
        height: 80vh;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    header {
        width: 100vw;
        border-radius: 10px;
        z-index: 50;
    }

    .javascriptButtons {
        color: white;
        display: flex;
        justify-content: end;
    }

    .date {
        font-size: 12px;
    }

    .degree {
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .words {
        font-size: 13px;
        width: 100%;
        height: 13vh;
    }

    .fourthSection {
        flex-direction: column;
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        padding: 0;
        height: 100vh;
        line-height: 1;
    }

    .service1 {
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
    }

    .webDesign {
        width: 80%;
        height: 13vh;
        line-height: 1;
        display: flex;
        justify-content: center;
    }

    .photography {
        width: 80%;
        height: 13vh;
        display: flex;
        justify-content: center;
    }

    .webDeveloper {
        width: 80%;
        height: 13vh;
        display: flex;
        justify-content: center;
    }

    .appDeveloping {
        width: 80%;
        height: 13vh;
        display: flex;
        justify-content: center;
    }

    .branding {
        width: 80%;
        height: 13vh;
        display: flex;
        justify-content: center;
    }

    .productStrategy {
        width: 80%;
        height: 13vh;
        display: flex;
        justify-content: center;
    }

    .word {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .skill {
        height: 150vh;
    }

    .skills {
        width: 90%; 
        height: 80px;
    }

    .progress-bar {
        transform: scale(1); 
        width: 100%;
    }

    .projects {
        height: 124vh;
        width: 100%;
    }

    .sixthTitle {
        height: 10vh;
    }

    .wrapper {
        height: 1vh;
    }

    .container {
        transform: translateY(36%);
        height: 1vh;
    }

    .hero-section {
        width: 100%;
    }

    .sixthSection {
        height: 124vh;
        width: 100%;
    }

    .blogs {
        height: 125vh;
    }

    .pictures {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .etc {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .hamburger {
        flex-direction: column;
        cursor: pointer;
        display: block;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
    }
    
    .nav-links li {
      display: flex;
      justify-content: flex-end;

    }
    
    .nav-links p {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
    }
    
    .nav-links p:hover {
        color: #f39c12;
    }
    
        .hamburger {
            display: flex;
        }
    
        .nav-links { 
            display: none;
            width: 27%;
            flex-direction: column;
            background-color: #333;
            position: absolute;
            border-radius: 15px;
            align-items: flex-end;
            top: 75px;
            left: 30%;
            transform: translateX(157%); 
        }
    
        .nav-links.active {
            display: flex;
            width: 27%;
            align-items: flex-start;
        }
    
        .nav-links li {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-end;
        }



}